/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: flex;
  color: black;
  background-image: url("https://images.pexels.com/photos/1590511/pexels-photo-1590511.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  /* background-image: url("https://res.cloudinary.com/shiva7781/image/upload/v1675112480/sample.jpg"); */
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.283);
}

/* Handle on hover  */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Messages */
.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}
